:root {
  --bg-color: #000;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #b0bec5;
  border-radius: 7px;
}
